<mat-card class="card container">
    <div class="background-img {{customBackgroundClass}}">
        <div class="box">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class="content" (click)="toggleMode()">
            <div *ngIf="mode === 'hint' && !solved" class="hint">
              <p *ngIf="hint">
                {{hint}}
              </p>
              <ng-container *ngIf="videoHint" >
                <button *ngIf="!showVideoHint"  mat-raised-button color="primary" (click)="$event.stopPropagation(); showVideoHint=true" class="hint-button">Video Hint</button>
                <video *ngIf="showVideoHint" class="video" controls autoplay (click)="$event.stopPropagation()"><source src="{{videoHint}}" type="video/mp4" ></video>
              </ng-container>
            </div>
            <div *ngIf="mode === 'solution' && !solved">
              <input type="text" class="solution-input" (click)="onSolutionInputClick($event)" maxlength="1" (change)="onSolutionInput($any($event))">
            </div>
            <h4 *ngIf="solved" class="solution-display">{{secretKey}}</h4>
        </div>
        
        </div>
    </div>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer> -->
  </mat-card>