


:host {
    display: flex;
    background: linear-gradient(var(--space-cadet-purple), var(--russian-purple));
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 40px;
    font-weight: normal !important;
}

.c1 {
    color: #FFFCF7;
}

.c2 {
    color: #EFBC06;
}

.c3 {
    color: #E0D68A;
}

.c4 {
    color: #621B00;
}