<h1>Valentine's Day 2022</h1>

<div class="cards-container">
    <div *ngFor="let config of polkovodets_rumyantsev" >
        <app-card *animate="'1000ms ease-in-out';" [ngClass]="{'solved': solved}" class="card"  [secretKey]="config.secretKey" [hint]="config.hint" [pictureHint]="config.pictureHint" [videoHint]="config.videoHint" [customBackgroundClass]="config.backgroundClass" (onSolved)="onCardSolved(config)"></app-card>
    </div>
</div>


<!-- https://stackblitz.com/edit/angular-7pbpa2?file=src%2Fapp%2Fapp.component.html -->

<div class="solution" *ngIf="showSolution">
    <b>You have solved the challenge, and proven yourself worthy of the treasure!</b>
    <b>While the real treasure is the one who shares your bed, this treasure can be found ... beneath it!</b>
</div>