/* You can add global styles to this file, and also import other style files */


:root {
    --royal-blue-dark: #17255a;
    --oxford-blue: #0A1128;
    --space-cadet-purple: #0A1128;
    --russian-purple: #2A0C4E;
    font-family: 'IM Fell French Canon SC', serif;
}

body {
    margin: 0px;
    padding: 0px;
}

